html, body {
  height: 100vh;
}

.header-container{
  display: flex;
  align-items: center;
  background-color:rgb(255,229,180);
  background-size: 100%;

}

.right-links{
  display: flex;
  justify-content: flex-end;
  gap:20px;
  width: 100%;
}

.logo {
display: flex;
width: 100%;
  }

.content-container{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(255,229,180)
}

.content{
  display: flexbox;
  text-align: left;
  word-wrap: wrap;
  width: 350px;
  margin: 50px;
}

.RHOA-logo{
  display: flex;
  justify-content: flex-end;
  height: auto;
  width: auto;
  margin: 50px;
}
