html, body {
  height: 100vh;
  margin: 0;
}

.header-container{
  display: flex;
  align-items: center;
  background-color:rgb(249, 139, 120);
  background-size: 100%;
  margin: 0px;
}

.right-links{
  display: flex;
  justify-content: flex-end;
  gap:20px;
  width: 100%;
  list-style: none;
  padding-right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.logo {
display: flex;
width: 100%;
  }

.content-container{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(249, 139, 120);
  gap: 200px;
}

.content{
  display: flexbox;
  text-align: left;
  word-wrap: wrap;
  width: 350px;
  margin: 50px;
}

.RHOA-logo{
  display: flex;
  justify-content: flex-end;
  height: auto;
  width: auto;
  margin: 50px;
}

.header-2{
  display: flex;
  justify-content: center;
}
button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.NN {
  display: flex;
  height: 100%;
  width: 70%;
  border: 5px solid green;
  border-radius: 25px;
}
.KB {
display: flex;
height: 100%;
width: 70%;
border: 5px solid green;
border-radius: 25px;
}

.SW{
display: flex;
height: 100%;
width: 70%; 
border: 5px solid green;
border-radius: 25px;
}

.PP{
  display: flex;
  height: 100%;
  width: 70%; 
  border: 5px solid green;
  border-radius: 25px;
}

.content-container2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 40px;
}

.item{
  display: inline-block;
  height: 25%;
  width: 15%;
  vertical-align: top;
  text-align: center;
}
.text{
  padding-top: 10px;
  max-width: 200px;
}
.quote-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgb(255,228,181);
  height: 20%;
}
.quote {
  padding: 30px;
  font-size: 36px;
  font-style: italic;
}

.quoted-by{
  display:block;
  align-self: flex-end;
  font-size: 20px;
  font-weight: bold;
}

.item-bubble{
  display:flex;
  justify-content: center;
  padding: 80px;
}

.item2{
  display: block;
  font-size: 20px;
  font-style: light-italic;
}

.item-container{
  display: flex;
  background-color:rgb(255,228,181);
  border-radius: 15px;
  width: 800px;
  padding:20px;
}

.button2{
  display: inline-block;
  margin-left: 200px;
  margin-top: 25px;
}