html, body {
  height: 100vh;
}

.header-container{
  display: flex;
  align-items: center;
}

.right-links{
  display: flex;
  justify-content: flex-end;
  gap:20px;
  width: 100%;
}

.logo {
display: flex;
width: 100%;
  }

.content-container{
  display:flex;
  align-items: center;
  justify-content: center;
}

.content{
  display: block;
  text-align: left;
  word-wrap: wrap;
  width: 350px;
  margin: 100px;
}

.RHOA-logo{
  display: flex;
  justify-content: flex-end;
  height: 10%;
  width: 15%;
  margin: 20px;
}
